.about-wrapper {
  position: relative;
  min-height: 100vh;
  background: #563788;
  overflow: hidden;
}

.about-page {
  position: relative;
  z-index: 10;
  color: rgb(255, 255, 255);
  padding-top: 120px;
}

.aboutInfo{
  padding: 10px;
  margin: 100px;
  background-color: aqua;
  width: 50%;
}