.certificates-bg {
  position: fixed;
  inset: 0;
  z-index: -10;
  pointer-events: none;
}

.certificates-bg canvas {
  width: 100%;
  height: 100%;
  display: block;
}
canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
}