#root {
  width: 100%;
  min-height: 100vh;
  background: transparent;
}
.app {
  background: #060010;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.clipper {
  position: relative;
  width: 100vw;
  overflow-x: clip;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar {
  position: fixed;
  top: 20px;
  right: 40px;
  display: flex;
  gap: 30px;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  opacity: 0.7;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 1;
}

.navbar .active {
  border-bottom: 2px solid white;
  opacity: 1;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
