

.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;          /* push behind all content */
  pointer-events: none; /* allow clicking through */
}
